{% extends '/BaseTemplates/CartBase.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <h1>Edit Cart</h1>

    {{ include('cart/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cart_index') }}">back to list</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
