{% extends "/Admin_interface/base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block header1 %}
Dashboard
{% endblock %}

{% block header2 %}
Dashboard
{% endblock %}
{% block body %}
	<div
		class="container-fluid">
		<!-- Info boxes -->
		{% include "/Admin_interface/admin_panel/summary.html.twig" %}
		<!-- /.row -->
		{% include "/Admin_interface/admin_panel/stats.html.twig" %}
		<!-- /.row -->

		<!-- Main row -->
			<div
			class="row"> <!-- Left col -->
			<div class="col-md-8">
				<!-- MAP & BOX PANE -->
				<!-- /.card -->
				{% include "/Admin_interface/admin_panel/latestmembers.html.twig" %}
				<!-- /.row -->

				<!-- TABLE: LATEST ORDERS -->
			{% include "/Admin_interface/admin_panel/latestorders.html.twig" %}
				<!-- /.card -->
			</div>
			<!-- /.col -->
			{% include "/Admin_interface/admin_panel/recentproducts.html.twig" %}
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
{% endblock %}
