{% extends "/Admin_interface/base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block header1 %}
Dashboard
{% endblock %}

{% block header2 %}
Dashboard
{% endblock %}
{% block body %}
	<div
		class="container-fluid">
		<!-- Info boxes -->
		{% include "/Admin_interface/admin_panel/summary.html.twig" %}
		<!-- /.row -->
		<!-- /.row -->

		<!-- Main row -->
			<div
			class="row"> <!-- Left col -->
			<div class="col-md-12">
				<!-- MAP & BOX PANE -->

				<!-- TABLE: LATEST ORDERS -->
			{% include "/Admin_interface/admin_panel/pendingorders.html.twig" %}
				<!-- /.card -->
			</div>
		</div>
		<!-- /.row -->
	</div>
{% endblock %}
