<div class="preloader flex-column justify-content-center align-items-center">
	<img class="animation__wobble" src="{{ asset('/images/LOGO.png') }}" alt="AdminLTELogo" height="200" width="200">
</div>
