<div id="banner">
    <div class="row">
        <div id="logo" class="col-md-4 col-sm-12 col-xs-12">
            <h1>
                <a href="{{ path('app_index') }}">
                    <img src="images/LOGO.png" width="120" height="100">
                </a>
            </h1>
        </div>
        <div id="ship" class="col-md-8 col-sm-12 col-xs-12">
            <img src="images/banner-1.png">
        </div>
    </div>
</div>