<div id="footer">
	<div class="row">
		<div id="footer-main" class="col-md-12 col-sm-12 col-xs-12">
			<div id="logo" class="col-md-4 col-sm-12 col-xs-12">
				<h1>
					<a href="{{ path('app_index') }}">
						<img src="/images/logo(text).png" width="300" height="30">
					</a>
				</h1>
			</div>
			<div class="text-center">
				<a href="https://www.facebook.com/uniofgreenwich">
					<i class='bx bxl-facebook bx-lg '></i>
				</a>
				<a href="https://www.instagram.com/uniofgreenwich/">
					<i class='bx bxl-instagram bx-lg'></i>
				</a>
				<a href="https://www.youtube.com/user/UniversityGreenwich">
					<i class='bx bxl-youtube bx-lg'></i>
				</a>
			</div>

			<p>
				<b>Address:</b>
				Golden Park Tower, 2nd Pham Van Bach, Cau Giay, Ha Noi |
				<b>Hotline</b>
				0977 00 khong co</p>
			<p>TBK Zone &copy;</p>
		</div>
	</div>
</div>
