{% extends '/BaseTemplates/UserBase.html.twig' %}


{% block body %}
	{% include "UserInterface/NavBar.html.twig" %}
	<div class="container">
		<!-- Banner  -->
			{% include "UserInterface/Banner.html.twig" %}
		<!-- End Banner -->
		<!-- Body -->
		<div id="body">
			<div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">
					{% include "UserInterface/SideBar.html.twig" %}
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					{% include "UserInterface/Carousel.html.twig" %}
				</div>
			</div>
			<div id="main">
				<div class="products">
					{% include "UserInterface/Index/Bestseller.html.twig" %}

					<hr>
					<div class="row">
						<img src="https://scontent.fhan3-5.fna.fbcdn.net/v/t39.30808-1/311842710_1148655075754195_1437058356137156097_n.jpg?stp=c0.29.240.240a_dst-jpg_p240x240&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=2gzzWnEGmv0AX9y-oMI&tn=utQRvNHo1GjKTlh1&_nc_ht=scontent.fhan3-5.fna&oh=00_AfCpv5nAfx1BJ5kfNK3g0T-OPHexUoEhKJ2RPX6fAnPHow&oe=639FBA63" width="1172" height="150">
					</div>
					<hr>
					{% include "UserInterface/Index/NewProducts.html.twig" %}
				</div>
			</div>
		</div>
		<!-- End Body -->
		<!-- Footer -->
		{% include "UserInterface/Footer.html.twig" %}
		<!-- End Footer -->
	</div>
</body>{% endblock %}
