{% extends '/BaseTemplates/UserBase.html.twig' %}


{% block body %}
	{% include "UserInterface/NavBar.html.twig" %}
	<div
		class="container">
		<!-- Banner  -->
		{# {% include "/UserInterface/Banner.html.twig" %} #}
		<!-- End Banner -->
		<!-- Body -->
			<div id="body"> <div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">
					{% include "UserInterface/SideBar.html.twig" %}
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12">
					{% include "UserInterface/Carousel.html.twig" %}
				</div>
			</div>
			<div id="main">
				<div class="products">
					{% include "UserInterface/Index/Bestseller.html.twig" %}
					<hr>
					<div class="row border">
						<a href="https://www.playstation.com/en-vn/games/god-of-war-ragnarok/">
							<img src="/images/ad1.png" width="1000" height="165" style="margin-left: 80px">
						</a>
					</div>
					<hr>
					<h2 class="h2-bar">Newest product</h2>
					{% include "UserInterface/Index/Products.html.twig" %}
					<hr>
					<div>
						<div class="row border">
							<a href="https://en.bandainamcoent.eu/elden-ring/elden-ring">
								<img src="/images/ad2.png" width="1000" height="165" style="margin-left: 80px">
							</a>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
		<!-- End Body -->

		<!-- Footer -->
		{% include "UserInterface/Footer.html.twig" %}
		<!-- End Footer -->
	</div>
</body>{% endblock %}
