<div id="menu" class="sidebar collapse navbar-collapse" style="text-decaration:none;">
	<h2 class="h2-bar">Category</h2>
	<ul>

		<li><a href="#">Gaming Laptop</a></li>
		<li><a href="#">Gaming PC</a></li>
		<li><a href="#">Office PC</a></li>
		<li><a href="#">Computer Component</a></li>
		<li><a href="#">Display Monitor</a></li>
		<li><a href="#">Gears</a></li>
		<li><a href="#">Music and Sound</a></li>
		<li><a href="#">Accessory</a></li>

	</ul>
</div>
