<div id="menu" class="sidebar navbar-collapse">
	<h2 class="h2-bar">Category</h2>
	<ul>
		{% for category in categories %}
			<li>
				<a href="{{ path('app_category_page', {'category_id': category.id}) }}">{{ category.title }}</a>
			</li>
		{% endfor %}
	</ul>
</div>