<div class="col-md-3 col-sm-12 col-xs-12">
	<div id="menu-but" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
	<div id="menu" class="sidebar collapse navbar-collapse">
		<h2 class="h2-bar">Category</h2>
		<ul>
			<li><a href="#">Gaming Laptop</a></li>
			<li><a href="#">Gaming PC</a></li>
			<li><a href="#">Office PC</a></li>
			<li><a href="#">Computer Component</a></li>
			<li><a href="#">Display Monitor</a></li>
			<li><a href="#">Gears</a></li>
			<li><a href="#">Music and Sound</a></li>
			<li><a href="#">Accessory</a></li>
		</ul>
	</div>
</div>