{% extends '/BaseTemplates/IndexBase.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container mt-5 p-5 border">
        {{ include('product/index.html.twig') }}
    </div>
{% endblock %}

