{% extends '/Admin_interface/base.html.twig' %}

{% block header1 %}New Product
{% endblock %}
{% block header2 %}Products
{% endblock %}
{% block body %}
	<a href="{{ path('app_products_panel') }}" class="text-white">Go back</a>
	<div class="container">
		<h1>Create new Product</h1>

		{{ include('/Admin_interface/products_panel/_form.html.twig') }}
	</div>


{% endblock %}