{% extends '/Admin_interface/base.html.twig' %}

{% block header1 %}New Category
{% endblock %}
{% block header2 %}Category
{% endblock %}
{% block body %}
	<a href="{{ path('app_category_new') }}" class="text-white">Go back</a>
	<div class="container">
		<h1>Create new Category</h1>

		{{ include('/Admin_interface/products_panel/_form.html.twig') }}
	</div>


{% endblock %}