<h2 class="h2-bar">Bestseller</h2>
<div class="row">
	<div class="col-md-3 col-sm-6 product-item text-center">
		<a href="#"><img width="80" height="144" src="#"></a>
		<h3>
			<a href="#">iphone 14 pro max</a>
		</h3>
		<p>12 month warranty</p>
		<p>New 100%</p>
		<p class="price">5000$</p>
	</div>
</div>
