{% block body %}


    <h1>Edit Product</h1>

    {{ include('/Admin_interface/member_panel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_index') }}">back to list</a>

    {# {{ include('/Admin_interface/member_panel/_delete_form.html.twig') }} #}
{% endblock %}
